################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
node_modules
/src/Portfolio.Core/bin/Debug/dnx451
/src/Portfolio.Core/obj/Debug/dnx451
/src/PortFolio.DAL
/src/PortFolio.DAL.Impl
/src/Portfolio.Models
/src/Portfolio.Services
/src/Portfolio.Services.Impl
/src/Portfolio.ViewModel
/src/Portfolio.Web/bin/Debug
/src/Portfolio.Web/obj/Debug
/src/Portfolio.Web/wwwroot/dist/vendor.bundle.js
/src/Portfolio.Web/wwwroot/dist/polyfills.bundle.js
/src/Portfolio.Web/wwwroot/dist/index.html
/src/Portfolio.Web/wwwroot/dist/app.bundle.js
/src/Portfolio.Web/wwwroot/dist/assets
