<div class="anq" id="app-growl"></div>


<div class="ans dj" *ngIf="myProfile" style="background-image: url(/./assets/images/iceland.jpg);">
  <div class="by">
    <div class="ant">
      <img class="cu qh" src="/./assets/images/avatar-dhg.png">
      <h3 class="anv">Dave Gamache</h3>
      <p class="anu">
        I wish i was a little bit taller, wish i was a baller, wish i had a girl…&nbsp;also.
      </p>
    </div>
  </div>

  <nav class="anw">
    <ul class="nav ol">
      <li class="active">
        <a href="#">Photos</a>
      </li>
      <li>
        <a href="#">Others</a>
      </li>
      <li>
        <a href="#">Anothers</a>
      </li>
    </ul>
  </nav>
</div>

<div class="col-sm-12">
    <div>
        <p>Manage your profile.</p>
    </div>
    <div>
        <button (click)="createProfile()">Create</button>
    </div>
    <div>
        <button (click)="importProfile()">Import</button>
    </div>
</div>



  

