<div class="account">
    <!--<form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>-->

    <div class="container">
        <div class="title">
            Welcome
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="input-field col s12">
                    <input [(ngModel)]="user.email" id="email"
                           type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input [(ngModel)]="user.password" id="password"
                           type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>

            <span>{{errorMsg}}</span>
            <button (click)="login()"
                    class="btn waves-effect waves-light"
                    type="submit" name="action">
                Login
            </button>
        </div>
    </div>
</div>