<!--<div class="account">
    <!--<form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>-->

    <!-- <div class="by amt container">        
        <div class="gc form panel-body">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="userName">User Name</label>
                    <input [(ngModel)]="loginModel.userName" id="userName"
                           type="text" class="form-control validate">                   
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="password">Password</label>
                    <input [(ngModel)]="loginModel.password" id="password"
                           type="password" class="form-control validate">                    
                </div>
            </div>
            <span></span>
            <button (click)="login()"
                    class="btn btn-primary btn-lg"
                    type="submit" name="action">
                Login
            </button>
        </div>
    </div> 
</div> -->

<div class="navbar-header">
    <a class="navbar-brand" href="#">Auth0 - Angular 2</a>
    <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
    <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
</div>