<div class="amt">
    <div class="amt">
        <div class="by amt">
            <div class="gc">
                <div class="gz">
                    <div class="ow og i">
                        <div class="et">
                            <input type="text" class="form-control" data-action="grow" placeholder="Search" [(ngModel)]="searchText">
                            <button class="btn btn-primary" (click)="performSearch()">Search</button>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>
